<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <header>
        <h1>E-Commerce</h1>
        <nav>
            <ul class="links-header">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Store</a></li>
                <li><a href="/cart">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>Desenvolvido por Diêgo Sampaio</p>
        <nav>
            <ul class="links-footer">
                <li><a href="http://www.github.com/diegosmp" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                <li><a href="http://www.linkedin.com/in/diegosmp" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
                <li><a href="http://www.instagram.com/diegosmp" target="_blank" rel="noopener noreferrer">Instagram</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>